/* ===================================================
component: popup
=================================================== */

/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-popup"] {
	@include centering(hv);

	display: block;
	width: 600px;
	text-align: center;
	padding: 3rem;
	background-color: rgba(#f3f3f3, .9);

	/*
	Modifiers
	----------------------- */
	&.is-hidden {
		display: none;
	}
}

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
.c-popup--default {
}