<div class="list-view__list row">
	{{#each data}}
		<div class="col-xs-6 col-md-6">
			<a href="#" class="thumbnail" data-js-item="list-view-cta">
				<img src="{{images.preview_gif.url}}" alt="Image">
			</a>
		</div>
	{{/each}}
</div>